apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: my-efs-claim
  namespace: default
  labels:
    app: storage-demo
    environment: learning
spec:
  accessModes:
    - ReadWriteMany
  storageClassName: efs-sc
  resources:
    requests:
      storage: 5Gi
  volumeMode: Filesystem